<form class="col-md-6">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" ng-model="user" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" ng-model="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="button"
          class="btn btn-default"
          ng-click="sendAuthorise()">Submit</button>
</form>