<form>

  <div class="form-group">
    <label for="username">Username</label>
     <input ng-model="user" name="username" type="text">
  </div>

  <button type="button"
          class="btn btn-default"
          ng-click="parseNewImages()">Refresh images list</button>

  <div class="form-group">
    <label for="username">Add tag</label>
     <input ng-model="user" name="newtag" type="text">
  </div>

  <strong>List of tags</strong>
  --
  --
  --
  

</form>

<button type="button"
          class="btn btn-default"
          ng-click="logoutAuthorise()">Logout</button>